'.source.elvish':
  'editor':
    'commentStart': '# '
    'softTabs': true
    'tabLength': 2
    'increaseIndentPattern': '^\\s*(fn|if|else|while|for|{|\\[)'
    'decreaseIndentPattern': '^\\s*(}|\\])'
